.header-label{
    display: flex;
    justify-content: center;  
    font-weight: 600;
    font-size: larger;
}

.table-container{
    display: flex;
    justify-content: center; 
    margin: 1rem 0px;
}